* { box-sizing: border-box; }
body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
html, body { width: 100%; height: 100%; padding: 0; margin: 0; }
.app { width: 100%; min-height: 100%; }

.go, .button { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; touch-action: manipulation; cursor: pointer; }

body { background: #f4f4f4; color: #58656E; }

.loader { position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: flex; align-items: center; justify-content: center; }
.loader-inner { background: #f4f4f4; padding: 1em 2em; }

.app { position: absolute; }
.deck { overflow: hidden; position: absolute; }

.slide {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  /*transform: translateX(0);*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.1s cubic-bezier(0.4, 0, 1, 1);
}

/*.slide_exit { transform: translateX(0%); }*/
/*.slide_enter { transform: translateX(100%); }*/
.slide_enter { opacity: 0; }

.go {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25%;
  cursor: pointer;
  opacity: 0;
  background-color: #000;
  transition: 0.1s cubic-bezier(0.4, 0, 1, 1);
}
.go:hover { opacity: 0.03; }
.go_back { left: 0; }
.go_forward { right: 0; }

.status { position: absolute; width: 100%; bottom: 0; background-color: #58656E; color: white; height: 40px; line-height: 40px; overflow: hidden; }

.status-likes, .status-online, .status-offline, .status-url, .status-question { background-repeat: no-repeat; background-position: 0 0; }
.status-likes, .status-online, .status-offline { display: inline-block; }
.status-url, .status-question { padding: 11px 25px 11px 35px;  }

.status-likes    { width: 70px; background-image: url("icons/heart.svg"); padding-left: 45px; }
.status-online   { width: 75px; background-image: url("icons/online.svg"); padding-left: 50px; }
.status-offline  { width: 75px; background-image: url("icons/offline.svg"); padding-left: 50px; }
.status-url      { background-image: url("icons/url.svg"); padding-left: 60px; }
.status-url > a  { color: inherit; text-decoration: none; border-bottom: 2px solid #78858E; }
.status-url > a:hover { border-color: currentColor; }
.status-question { background-image: url("icons/question.svg"); padding-right: 0; padding-left: 40px; }

.button { height: 44px; border-radius: 22px; padding: 0 15px; border: 2px solid #58656E; color: #58656E; font: inherit; line-height: 40px;  font-weight: 500; background-color: rgba(255,255,255,0.7); outline: none; transition: 0.1s cubic-bezier(0.4, 0, 1, 1); }
.button:hover { transform: translateY(-1px); }
.button:active { transform: translateY(1px); }

.follow-button { position: absolute; right: 20px; top: 60px; }

.like-button { position: absolute; left: 20px; bottom: 60px; padding-left: 45px; background-image: url("icons/like.svg"); background-repeat: no-repeat; background-position: 5px 0; }
.like-button_liked { background-color: #58656E; color: white; background-image: url("icons/liked.svg"); }

.ask-button { position: absolute; right: 20px; bottom: 60px; padding-left: 45px; background-image: url("icons/ask.svg"); background-repeat: no-repeat; background-position: 5px 0; }


.app_ask { background-color: #58656E; color: white; }
.app-inner_ask { width: 320px; margin: 65px auto; }
.quit-ask-button { position: absolute; left: 20px; top: 10px; }
.ask-form-ta { font: inherit; border: none; outline: none; height: 42px; padding: 11px 11px; width: 100%; }
.ask-form-ta_expanded { height: 58px; }
.ask-form-button { width: 120px; height: 37px; margin: 4px 0 0 0; border-radius: 0; border: none; }

.questions-hr { width: 80%; margin: 40px auto; height: 2px; background: #CDD1D4; }

.question { position: relative; padding-bottom: 22px; margin: 11px 0; }
.question-text { padding: 9px 15px 28px; border-radius: 3px; background: #CDD1D4; color: #58656E; }
.question-upvote-button { width: 44px; height: 44px; border-radius: 22px; background: #f4f4f4; color: #58656E; line-height: 42px; position: absolute; bottom: 9px; right: 44px; text-align: center; background-image: url("icons/upvote.svg"); border: none; box-shadow: 0 0 10px rgba(0,0,0,0.2); }
.question-upvote-button_right { right: 10px; }
.question-upvotes { width: 44px; height: 44px; border-radius: 22px; background: white; color: #58656E; line-height: 42px; position: absolute; bottom: 9px; right: 10px; text-align: center; box-shadow: 0 0 10px rgba(0,0,0,0.2); }

